#messageArea .chat-message {
    padding-left: 68px;
    position: relative;
}

#messageArea .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#messageArea .chat-message span {
    color: #333;
    font-weight: 600;
}

#messageArea .chat-message p {
    color: #43464b;
}

#messageArea ul {
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#messageArea ul li {
    list-style-type: none;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#messageArea ul li p {
    margin: 0;
}