<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Authorization</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<h1>Authorization</h1>

<form action="#" th:action="@{/authorization}" th:object="${authorization}" method="post">
    <p>Login: <input type="text" th:field="*{login}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>
        <input type="submit" value="Sign in" class="button"/>
    </p>

    <span th:text="*{error}"></span>
<!--    <span th:text="*{#strings.isEmpty(error)} ? '' : *{error}"></span>-->
</form>

</body>
</html>