<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Mooncake - Social</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>

<body>
    <h1>Mooncake - Social</h1>

    <form th:action="@{/login}" th:method="get">
        <p>
            <input type="submit" value="Sign in" class="button"/>
        </p>
    </form>

    <form th:action="@{/registration}" th:method="get">
        <p>
            <input type="submit" value="Registration" class="button"/>
        </p>
    </form>
</body>
</html>