<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>News</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>

            <div sec:authorize="isAuthenticated()">
                <span class="fs-4">Mooncake-social | Login as [[${#httpServletRequest.remoteUser}]]</span>
            </div>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/person/main}" class="nav-link">User info</a></li>
            <li class="nav-item"><a th:href="@{/person/friend/list}" class="nav-link">Friends</a></li>
            <li class="nav-item"><a th:href="@{/person/list}" class="nav-link">Persons</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">News</a></li>
            <li class="nav-item"><a th:href="@{/person/list}" class="nav-link">Dialogs</a></li>
            <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
        </ul>
    </header>
</div>

<div class="container">
    <main>
        <div class="col">
            <div class="row g-3 justify-content-center">

                <div th:if="${#lists.isEmpty(news)}" >
                    <h4 class="mb-3">List of news is empty...</h4>
                </div>

                <div th:if="${not #lists.isEmpty(news)}" >
                    <h4 class="mb-3">News:</h4>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>News time</th>
                            <th>Person name</th>
                            <th>Post body</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="item : ${news}">
                            <td th:text="${item.newsDateTime}"></td>
                            <td th:text="${item.personFullName}"></td>
                            <td th:text="${item.newsBody}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </main>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</body>
</html>