<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Person detail</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<td>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout" class="button"/>
    </form>
</td>

<td>
    <form th:action="@{/person/list}">
        <input type="submit" value="Persons" class="button"/>
    </form>
</td>

<h1>Person detail:</h1>

<form th:action="@{/person/update}" th:object="${person}" method="post">
    <input type="hidden" th:field="*{guid}" />

    <p>Nickname: <input type="text" th:field="*{nickName}" /></p>
    <p>First name: <input type="text" th:field="*{firstName}" /></p>
    <p>Second name: <input type="text" th:field="*{secondName}" /></p>
    <p>Age: <input type="text" th:field="*{age}" /></p>
    <p>Gender: <input type="text" th:field="*{gender}" /></p>
    <p>Town: <input type="text" th:field="*{town}" /></p>
    <p>Info: <input type="text" th:field="*{info}" /></p>

    <p>
        <input type="submit" th:value="*{operation}" class="button" />
    </p>
</form>

<h1>Friends:</h1>

<table class="objects">
    <thead>
    <tr>
        <th>Surname</th>
        <th>FirstName</th>
        <th>Nick</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Town</th>
        <th>Info</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.firstName}">mock</td>
        <td th:text="${person.secondName}">mock</td>
        <td th:text="${person.nickName}">mock</td>
        <td th:text="${person.age}">mock</td>
        <td th:text="${person.gender}">mock</td>
        <td th:text="${person.town}">mock</td>
        <td th:text="${person.info}">mock</td>

<!--        <td>-->
<!--            <form th:action="@{/person/view}" method="get">-->
<!--                <p>-->
<!--                    <input type="hidden" th:name="guid" th:value="${person.guid}" />-->
<!--                    <input type="submit" value="View" class="button-table"/>-->
<!--                </p>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

</body>
</html>