<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Registration</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
</head>
<body>

<h1>Successful registration!</h1>

<form th:action="@{/login}" method="post">
    <p>
        <input type="submit" value="Sign in" class="button"/>
    </p>
</form>

</body>
</html>