<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Registration</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Mooncake-social</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Registration</a></li>
            <li class="nav-item"><a th:href="@{/login}" class="nav-link">Login</a></li>
        </ul>
    </header>
</div>

<div class="container">
    <main>
        <div class="col">
            <form class="needs-validation" th:action="@{/registration/new}" th:method="post" novalidate>
                <div class="row g-3 justify-content-center">
                    <input type="hidden" th:field="${person.guid}" />
                    <span th:text="*{authorization.error}"></span>

                    <div class="col-8">
                        <h4 class="mb-3">New person registration</h4>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <div class="col-4">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="login" th:field="${authorization.login}" required>
                        <div class="invalid-feedback">
                            Valid login is required.
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password" th:field="${authorization.password}" required>
                        <div class="invalid-feedback">
                            Valid password is required.
                        </div>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <div class="col-8">
                        <label for="nickname" class="form-label">Nickname</label>
                        <input type="text" class="form-control" id="nickname" th:field="${person.nickName}" required>
                        <div class="invalid-feedback">
                            Valid nickname is required.
                        </div>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <div class="col-4">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" th:field="${person.firstName}" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="secondName" class="form-label">Second name</label>
                        <input type="text" class="form-control" id="secondName" th:field="${person.secondName}" required>
                        <div class="invalid-feedback">
                            Valid second name is required.
                        </div>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <div class="col-2">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" class="form-control" id="age" th:field="${person.age}" required>
                        <div class="invalid-feedback">
                            Valid age is required.
                        </div>
                    </div>

                    <div class="col-3">
                        <label for="gender" class="form-label">Gender</label>
                        <input type="text" class="form-control" id="gender" th:field="${person.gender}" required>
                        <div class="invalid-feedback">
                            Valid gender is required.
                        </div>
                    </div>

                    <div class="col-3">
                        <label for="town" class="form-label">Town</label>
                        <input type="text" class="form-control" id="town" th:field="${person.town}" required>
                        <div class="invalid-feedback">
                            Valid town is required.
                        </div>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <div class="col-8">
                        <label for="info" class="form-label">Info</label>
                        <input type="text" class="form-control" id="info" th:field="${person.info}" required>
                        <div class="invalid-feedback">
                            Valid info is required.
                        </div>
                    </div>
                </div>

                <div class="row g-3 justify-content-center">
                    <div class="col-8">
                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="Registration"></button>
                    </div>
                </div>

            </form>
        </div>
    </main>
</div>

<!--<form th:action="@{/registration/new}" th:method="post">-->
<!--    <span th:text="*{authorization.error}"></span>-->
<!--    <p>Login: <input type="text" th:field="${authorization.login}" /></p>-->
<!--    <p>Password: <input type="text" th:field="${authorization.password}" /></p>-->

<!--    <input type="hidden" th:field="${person.guid}" />-->

<!--    <p>Nickname: <input type="text" th:field="${person.nickName}" /></p>-->
<!--    <p>First name: <input type="text" th:field="${person.firstName}" /></p>-->
<!--    <p>Second name: <input type="text" th:field="${person.secondName}" /></p>-->
<!--    <p>Age: <input type="text" th:field="${person.age}" /></p>-->
<!--    <p>Gender: <input type="text" th:field="${person.gender}" /></p>-->
<!--    <p>Town: <input type="text" th:field="${person.town}" /></p>-->
<!--    <p>Info: <input type="text" th:field="${person.info}" /></p>-->

<!--    <p>-->
<!--        <input type="submit" th:value="Registration" class="button" />-->
<!--    </p>-->
<!--</form>-->

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>

</body>
</html>